body {
  font-family: "Lato", sans-serif;
  margin-bottom: 100%;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

h1 {
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 28px;
  margin: 0;
}

h2,
h3 {
  font-size: 16px;
}

.weather-app {
  border: 1px solid #ebedee;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #6e88a1;
  max-width: 600px;
}

.cities {
  padding-bottom: 10px;
  font-size: 16px;
  color: burlywood;
}

.search-city {
  font-size: 14px;
  font-style: italic;
}

.search-button {
  font-size: 15px;
}

.current-button {
  font-size: 15px;
}

.sun-icon {
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.temparetaure {
  font-family: "Chivo", sans-serif;
  font-size: 52px;
  font-weight: 900px;
  float: left;
}

.units {
  position: relative;
  top: 14px;
}

.atmosphere {
  font-size: 14px;
  list-style: none;
  margin-top: 10px;
}

.days {
  text-align: center;
}

.temperature-forecast {
  text-align: center;
}

.weather-emoji {
  text-align: center;
  font-size: 24px;
}

.gitLink {
  display: inline;
  margin: 0 0 0 130px;
  font-size: smaller;
}

.name {
  font-size: smaller;
}
